{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- Purchasing permissions -->
{%- include 'purchasing' -%}


<div data-algolia-position="[[ productPosition ]]" data-algolia-queryid="[[ queryID ]]" data-algolia-objectid="[[ objectID ]]" class="product-grid-item product basel-hover-quick col-xs-6 col-sm-4 col-md-4 purchasable" data-handle="[[ handle ]]" data-variant-id="[[ objectID ]]" data-distinct="[[ _distinct ]]">
  <div class="product-element-top" data-custom="[[ tags ]]">

[[# helpers.adaptorNeeded ]][[/ helpers.adaptorNeeded ]]
[[# helpers.discontinuedStatus ]][[/ helpers.discontinuedStatus ]]
[[# helpers.productVariantCustom ]][[/ helpers.productVariantCustom ]]


    {% if settings.site  == 'US' %}
      <a href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]?variant=[[objectID]]" class="lazyloaded algolia-img" style="background-image: url([[# helpers.originalImage ]][[/ helpers.originalImage ]]); background-color: #fff">
        {% comment %} <img src="[[# helpers.originalImage ]][[/ helpers.originalImage ]]" alt=""> {% endcomment %}
      </a>
    {% else%}
      <a href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]?variant=[[objectID]]" class="lazyloaded algolia-img" style="background-image: url([[# helpers.originalImage ]][[/ helpers.originalImage ]])">
        {% comment %} <img src="[[# helpers.originalImage ]][[/ helpers.originalImage ]]" alt=""> {% endcomment %}
      </a>
  {%endif%}


      <div class="jas-wrap-lazy"></div>
      <div class="basel-buttons">

         <div class="yith-wcwl-add-to-wishlist add-to-wishlist-[[ id ]]">

            {%- if customer -%}
             <div class="yith-wcwl-add-button gl_add_wishlist" [[# helpers.nowishlist ]][[/ helpers.nowishlist ]]>
               <a href="[[# helpers.handleCustom ]][[/ helpers.handleCustom ]]" data-customer_id="{{customer.id}}" data-email="{{customer.email}}" data-action="add" data-handle="[[# helpers.handleCustom ]][[/ helpers.handleCustom ]]" data-id="[[ id ]]" rel="nofollow" class="add_nitro_wishlist add_to_wishlist basel-tooltip"><span class="basel-tooltip-label">{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.add_to_wishlist' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.add_to_wishlist' | t }}{% endcapture %}{% include 'ly-static-string' with '13489661' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span> {% comment %}ly_i18n_replace_for_[ 'products.wishlist.add_to_wishlist' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.wishlist.add_to_wishlist' | t }}{% endcapture %}{% include 'ly-static-string' with '13489662' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
             </div>

             <div class="yith-wcwl-remove-button gl_remove_wishlist" [[# helpers.wishlist ]][[/ helpers.wishlist ]]>
               <a href="javascript:void(0);" rel="nofollow" class="remove product_remove_from_wishlist basel-tooltip" style="text-align:right;" title="Remove this product" data-action="remove" data-id="[[ id ]]" data-email="{{customer.email}}" data-customer_id="{{customer.id}}" data-handle="[[# helpers.handleCustom ]][[/ helpers.handleCustom ]]"><span class="basel-tooltip-label"><ly-as-13489652>Remove from Saved Products</ly-as-13489652></span> <ly-as-13489652>Remove from Saved Products</ly-as-13489652></a>
             </div>

             <div class="yith-wcwl-add-button gl_removing_wishlist feid-in" style="display: none; pointer-events: none" id="removing_from_whislist_[[ id ]]">
               <a href="[[# helpers.handleCustom ]][[/ helpers.handleCustom ]]" rel="nofollow" class="load_nitro_wishlist add_to_wishlist basel-tooltip"><span class="basel-tooltip-label"><ly-as-13489653>Removing</ly-as-13489653></span> <ly-as-13489653>Removing</ly-as-13489653> </a>
             </div>

             <div class="yith-wcwl-add-button gl_adding_wishlist feid-in" style="display: none; pointer-events: none">
               <a href="[[# helpers.handleCustom ]][[/ helpers.handleCustom ]]" rel="nofollow" class="load_nitro_wishlist add_to_wishlist basel-tooltip"><span class="basel-tooltip-label">{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.adding_to_wishlist' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.adding_to_wishlist' | t }}{% endcapture %}{% include 'ly-static-string' with '13489663' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span> {% comment %}ly_i18n_replace_for_[ 'products.wishlist.adding_to_wishlist' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.wishlist.adding_to_wishlist' | t }}{% endcapture %}{% include 'ly-static-string' with '13489664' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
             </div>
           {%- else -%}
             <div class="yith-wcwl-add-button">
               <a href="/account" rel="nofollow" class="nitro_wishlist_login add_to_wishlist basel-tooltip"><span class="basel-tooltip-label">{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.login_to_wishlist' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.login_to_wishlist' | t }}{% endcapture %}{% include 'ly-static-string' with '13489665' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span> {% comment %}ly_i18n_replace_for_[ 'products.wishlist.login_to_wishlist' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.wishlist.login_to_wishlist' | t }}{% endcapture %}{% include 'ly-static-string' with '13489666' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
             </div>
           {%- endif -%}
         </div>


         <div class="clear"></div>
         <div class="product-compare-button"><a href="#compare_popup" data-pid="[[# helpers.compareLink ]][[/ helpers.compareLink ]]" class="compare button basel-tooltip" rel="nofollow"><span class="basel-tooltip-label">{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.compare' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.compare' | t }}{% endcapture %}{% include 'ly-static-string' with '13489667' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.compare' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.compare' | t }}{% endcapture %}{% include 'ly-static-string' with '13489667' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></div>
         <div class="quick-view"><a href="javascript void(0);" data-get="[[# helpers.instantsearchcustomLink ]][[/ helpers.instantsearchcustomLink ]]/?view=quick_view" class="open-quick-view basel-tooltip"><span class="basel-tooltip-label">{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.quick_view' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.quick_view' | t }}{% endcapture %}{% include 'ly-static-string' with '13489668' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.quick_view' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.quick_view' | t }}{% endcapture %}{% include 'ly-static-string' with '13489668' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></div>
      </div>

      <div class="quick-shop-wrapper">
         <div class="quick-shop-close"><span>{% comment %}ly_i18n_replace_for_['sections.close_quick_shop' | t ]_begin{% endcomment %}{% capture ly_template %}{{'sections.close_quick_shop' | t }}{% endcapture %}{% include 'ly-static-string' with '13489669' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span></div>
         <div class="quick-shop-btn [[# helpers.instantPriceProduct ]][[/ helpers.instantPriceProduct ]] [[# helpers.instantHaveMultipleVariants ]][[/ helpers.instantHaveMultipleVariants ]]">
            {%- if purchasing == true -%}
              {%- unless settings.regional_site_enabled -%}
                <a rel="nofollow" href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]?variant=[[objectID]]" data-pid="[[ objectID ]]" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-sku="[[ sku ]]">{% capture ly_template %}{{'products.product.add_to_cart'|t}}{% endcapture %}{% include 'ly-static-string' with '13489670' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}</a>

                <a rel="nofollow" href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]?variant=[[objectID]]" data-get="/products/[[ handle ]]/?view=json" class="button product_type_simple add_to_cart_button btn-quick-shop">Quick Shop</a>

                <a rel="nofollow" href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]?variant=[[objectID]]" data-pid="[[ objectID ]]" class="button product_type_simple add_to_cart_button no-price-btn" data-sku="[[ sku ]]">View Options</a>
                
                <!-- <a rel="nofollow" class="view" href="[[# helpers.instantPriceProduct ]][[/ helpers.instantPriceProduct ]]">{% comment %}ly_i18n_replace_for_['products.product.view'|t]_begin{% endcomment %}{% capture ly_template %}{{'products.product.view'|t}}{% endcapture %}{% include 'ly-static-string' with '13489671' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a> -->

                {%- endunless -%}
            {%- else -%}
              <a rel="nofollow" class="view" href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]?variant=[[objectID]]">{% comment %}ly_i18n_replace_for_['products.product.view'|t]_begin{% endcomment %}{% capture ly_template %}{{'products.product.view'|t}}{% endcapture %}{% include 'ly-static-string' with '13489671' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
            {%- endif -%}
         </div>
         <div class="quick-shop-form" id="product-{{product.id}}"></div>
      </div>
   
  </div>

  <div class="ais-hit--details1">
    <h3 class="product-title">
      <a data-algolia-position="[[ productPosition ]]" data-algolia-queryid="[[ queryID ]]" data-algolia-objectid="[[ objectID ]]" href="[[# helpers.instantsearchLink ]][[/ helpers.instantsearchLink ]]?variant=[[objectID]]" onclick="void(0)" title="[[# helpers.fullTitle ]][[/ helpers.fullTitle ]]">
        <ly-as-13489654>[[# helpers.fullTitleWithHTML ]][[/ helpers.fullTitleWithHTML ]]</ly-as-13489654>
      </a>
    </h3>
      <ly-as-13489655>[[# sku ]]</ly-as-13489655>
        <span class="variant-sku"><ly-as-13489656>[[& sku ]]</ly-as-13489656></span>
      <ly-as-13489657>[[/ sku ]]</ly-as-13489657>
    <!-- Tags example - Remove the display: none to show them -->
    <p class="ais-hit--tags" style="display: none">
      <ly-as-13489658>[[# _highlightResult.tags ]]</ly-as-13489658>
        <span class="ais-hit--tag"><ly-as-13489659>[[& value ]]</ly-as-13489659></span>
      <ly-as-13489660>[[/ _highlightResult.tags ]]</ly-as-13489660>
    </p>
  </div>
</div>

