{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
{%- assign template_id = template | split: '.' | first -%}
{%- assign st = 'display_popup_cookies_' | append: template_id -%}
{%- if settings[st] -%}
<div class="basel-cookies-popup">
  <div class="basel-cookies-inner">
    <div class="cookies-info-text">{{ settings.text_cookies_popup | strip_html }}</div>
    <div class="cookies-buttons">
      <a href="#" class="cookies-accept-btn">{% comment %}ly_i18n_replace_for_[ 'general.cookiespopup.accept' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.cookiespopup.accept' | t }}{% endcapture %}{% include 'ly-static-string' with '13489678' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
      {%- if settings.link_btn_infor != blank -%}<a href="/policies/privacy-policy" class="cookies-more-btn">{% comment %}ly_i18n_replace_for_[ 'general.cookiespopup.more' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'general.cookiespopup.more' | t }}{% endcapture %}{% include 'ly-static-string' with '13489679' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>{%- endif -%}
    </div>
  </div>
</div>
{%- endif -%}