{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<!-- Purchasing permissions -->
{%- include 'purchasing' -%}

{%- include 'current_variant' -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{%- unless image_size -%}
{%- assign image_size = '263x' -%}
{%- endunless -%}
{%- unless gl_colum_width -%}
{%- assign gl_colum_width = 'col-sm-4 col-md-3' -%}
{%- else -%}
{%- assign gl_colum_width = gl_colum_width | remove: "col-xs-6 " -%}
{%- endunless -%}
{%- assign gl_colum_mobile = ' ' -%}
{%- if gl_colum_width != 'col-galaxy' -%}{%- assign gl_colum_mobile = ' col-xs-6 ' -%}{%- endif -%}
{%- if settings.show_col_mobile -%}
{%- assign gl_colum_mobile = ' col-xs-12 ' -%}
{%- endif -%}
{%- include 'check_label_gl' -%}
{%- include 'check_color' -%}
{%- unless collection -%}
{%- assign collection = product.collections.last -%}
{%- endunless -%}
{%- if template contains 'collection' and current_tags.size > 0 and product.has_only_default_variant == false -%}
   {%- assign url_nt = current_variant.url -%}
{%- assign url_nt_bl = true -%}
{%- else -%}
{%- assign url_nt_bl = false -%}
   {%- assign url_nt = product.url -%}
{%- endif -%}
{%- if product.metafields.external and settings.catalog_mode == false -%}
  {%- assign check = product.metafields.external | first | last -%}
  {%- if check contains 'https:' or check  contains 'http:' -%}{%- assign check_external = true -%}{%-else-%}{%- assign check_external = false -%}{%-endif-%}
{%-endif-%}
{% assign hide_add_to_cart_btn = false %}
<div class="product-grid-item product basel-hover-quick purchasable{%- if sold_out %} outofstock{%- endif %}">
   <div class="product-element-top test{% if product.metafields.custom.link_to_page != blank %}link_to_page{% endif %}">
     
     {% for tag in product.tags %}
       {% if tag contains 'Discontinued' or tag contains 'discontinued' %}
      {% assign hide_add_to_cart_btn = true %}
      <div class="discontinued_tag_btn"><ly-as-13490064>Discontinued</ly-as-13490064></div>
       {% endif %}
       {% if tag contains 'AdaptorNeeded' %}
      {% assign hide_add_to_cart_btn = true %}
      <div class="adaptorneeded_tag_btn"><ly-as-13490065>Adaptor Plate Needed</ly-as-13490065></div>
       {% endif %}
     {% endfor %}
     
     
      {%- include 'product_element_image' -%}
      <div class="basel-buttons">
         {%- if settings.use_wishlist and pages['wishlist'].empty? != true -%} {%- include 'gl-wishlist-product' -%}{%- endif -%}
         <div class="clear"></div>
         {%- if settings.use_compare and pages['compare'].empty? != true -%}<div class="product-compare-button"><a href="#compare_popup" data-pid="{{product.handle}}_sp_{{product.id}}" class="compare button basel-tooltip" rel="nofollow"><span class="basel-tooltip-label">{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.compare' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.compare' | t }}{% endcapture %}{% include 'ly-static-string' with '13490066' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.compare' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.compare' | t }}{% endcapture %}{% include 'ly-static-string' with '13490066' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></div>{%- endif -%}
         {%- if settings.use_quickview -%}<div class="quick-view"><a href="javascript void(0);" data-get="{{ url_nt | within: collection }}{%- if url_nt_bl -%}&{%- else %}/?{%- endif -%}view=quick_view" class="open-quick-view basel-tooltip"><span class="basel-tooltip-label">{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.quick_view' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.quick_view' | t }}{% endcapture %}{% include 'ly-static-string' with '13490067' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span>{% comment %}ly_i18n_replace_for_[ 'sections.basel_tooltip.quick_view' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'sections.basel_tooltip.quick_view' | t }}{% endcapture %}{% include 'ly-static-string' with '13490067' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></div>{%- endif -%}
      </div>
      {%- if settings.catalog_mode == false and hide_add_to_cart_btn == false and purchasing == true -%} 
      <div class="quick-shop-wrapper">
        {{purchasing | json}}
         <div class="quick-shop-close"><span>{% comment %}ly_i18n_replace_for_['sections.close_quick_shop' | t ]_begin{% endcomment %}{% capture ly_template %}{{'sections.close_quick_shop' | t }}{% endcapture %}{% include 'ly-static-string' with '13490068' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span></div>
         {%- if linklists[product.handle].links.size == 0 -%}
         <div class="quick-shop-btn">
            {%- if product.variants.size > 1 and check_external == false -%}
               <a rel="nofollow" href="javascript void(0);" data-get="{{ url_nt }}{%- if url_nt_bl -%}&{%- else %}/?{%- endif -%}view=json" class="btn-quick-shop" data-handle="{{ product.handle }}" data-id="{{ product.id }}"><span>{% comment %}ly_i18n_replace_for_[ 'products.product.quick_shop' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.quick_shop' | t }}{% endcapture %}{% include 'ly-static-string' with '13490069' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span></a>
            {%- elsif check_external == true -%}
               <a href="{{ check }}" rel="nofollow" class="button product_type_simple">{% comment %}ly_code_replace_for_[ product.metafields.external | first | first ]_begin{% endcomment %}{{ ly_translation | first | first }}{% comment %}ly_code_replace_end{% endcomment %}</a>
            {%- else -%}
               {%- if sold_out -%}
               <a rel="nofollow" href="{{ url_nt | within: collection }}" class="button product_type_simple">{% comment %}ly_i18n_replace_for_['products.product.read_more'|t]_begin{% endcomment %}{% capture ly_template %}{{'products.product.read_more'|t}}{% endcapture %}{% include 'ly-static-string' with '13490070' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a>
               {%- else -%}
                {% assign button_url = url_nt | within: collection %}
                {% include 'button-add-to-cart', class_list: 'button product_type_simple add_to_cart_button ajax_add_to_cart', button_url: button_url %}
               {%- endif -%}
            {%- endif- %}
         </div>
         <div class="quick-shop-form" id="product-{{product.id}}"></div>
         {% else %}
         <div class="quick-shop-btn"><a class="button product_type_grouped" href="{{ url_nt | within: collection }}">{% comment %}ly_i18n_replace_for_[ 'products.product.view' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.view' | t }}{% endcapture %}{% include 'ly-static-string' with '13490071' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</a></div>
        {%- endif -%}
      </div>
      {%- endif -%}
      {%- if purchasing == false -%}
        <div class="quick-shop-wrapper">
          <div class="quick-shop-btn">
            <a rel="nofollow" class="view" href="{{url_nt}}"><span>{% comment %}ly_i18n_replace_for_[ 'products.product.view' | t ]_begin{% endcomment %}{% capture ly_template %}{{ 'products.product.view' | t }}{% endcapture %}{% include 'ly-static-string' with '13490071' %}{% if ly_translation %}{% assign escape_content = true %}{% assign ly_template = ly_translation %}{% else %}{% assign escape_content = false %}{% endif %}{% if escape_content %}{{ ly_template | escape}}{% else %}{{ ly_template }}{% endif %}{% comment %}ly_i18n_replace_end{% endcomment %}</span></a>
          </div>
        </div>
      {%- endif -%}
   </div>
   {%- if settings.show_product_color and colour_count > 1 -%}
   <div class="swatches-wrapper">{%- include 'swatches_on_grid' -%}</div>
   {%- endif -%}
   <h3 class="product-title"><a href="{{ url_nt | within: collection }}">{% comment %}ly_code_replace_for_[ product.title ]_begin{% endcomment %}{% include 'ly-title' with product %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a></h3>
   {%- if settings.show_product_rating -%}<div class="gl_star-rating"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>{%- endif -%}
  {% assign current_variant = product.selected_or_first_available_variant %}
<span class="variant-sku">{{ current_variant.sku }}</span> 
<!--   <span class="price">
       {%- if product.price_varies -%}
       {{ product.price_min | money }} – {{ product.price_max | money }}
       {%- elsif on_sale -%}<del>{{ current_variant.compare_at_price  | money }}</del> <ins>{{ current_variant.price | money }}</ins>
       {%- else -%}
       {{ current_variant.price | money }}
       {%- endif -%}
    </span> -->
   {%- include 'basel_count_down' -%}
</div>