
    <div id="ly-languages-switcher">
      {% for language in shop.metafields.languages %}
      	{% assign key = language | first %}
      	{% assign value = language | last %}
      	{% if key != "default" %}
      		{% assign language_id = key | split: 'ly' | last %}
      		{% assign img = 'ly-icon-' | append: language_id | append:'.png' %}
      			<a href="#" 
                   {% if settings.site  == 'US' or settings.site  == 'Latin America' %} 
                   		id="{{ key }}" 
                   {% endif %}
                   {% if settings.site  == 'UK' and value=="Español"%} 
                   		id="{{ key }}" 
                   {% endif %}
                    
                   class="{{ key }} ly-languages-switcher-link{% assign selectedLanguage = cart.attributes["language"] %}
                                                  	{% if selectedLanguage == nil %}{% assign selectedLanguage = shop.metafields["languages"]["default"] %}{% endif %}
                                                  	{% if selectedLanguage == key %} current_lang{% endif %}">{{ value }}{{current.variant-sku}}
      			</a>
      		{% endif %}
      {% endfor %}
	</div>