{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{%- if blog_ajax -%}
  {%- for part in paginate.parts -%}
    {%- if part.is_link -%}
      <a href="{{ part.url }}" class="inactive">{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
    {%- else -%}
      {%- if part.title == paginate.current_page -%}
        <span class="current">{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
      {%- else -%}
        <span class="inactive">{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span>
      {%- endif -%}
    {%- endif -%}
  {%- endfor- %}
{%- else -%}
  <ul class="page-numbers">
      {%- if paginate.previous -%}
      <li><a class="prev page-numbers" href="{{ paginate.previous.url }}">←</a></li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <li>
          <a href="{{ part.url }}" class="page-numbers">{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</a>
        </li>
      {%- else -%}
        {%- if part.title == paginate.current_page -%}
          <li><span class="page-numbers current">{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span></li>
        {%- else -%}
          <li><span class="page-numbers dots">{% comment %}ly_code_replace_for_[ part.title ]_begin{% endcomment %}{% include 'ly-title' with part %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}</span></li>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%} 

    {%- if paginate.next -%}
      <li><a class="next page-numbers" href="{{ paginate.next.url }}">→</a></li>
    {%- endif -%}
  </ul>
{%- endif -%}