           
<div class="col-xs-12 no-padding document-block related-documentation-desktop" id="product-related-documentation">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 no-padding document-block-heading">
            
                {% assign docs = product.metafields.docs.docs | split: ' | ' %}
                {% if docs == blank %}

                {%else if%}
            <div class="row">
                <h2><ly-as-13490549>Related Documentation</ly-as-13490549></h2>
            </div>
        {% for doc in docs %}
        {% assign doc_data = doc | strip %}
        {% if doc_data == '' %}
            {% continue %}
        {% endif %}
        {% assign doc_data = doc_data | split: '; ' %}
        <div class="col-sm-3 no-padding vertial-align">
            <a href="{{ doc_data[1] }}" target="_blank">
            <div class="col-xs-12 no-padding document-block-content">
                <div class="document-img">
                {% assign lower_url = doc_data[1] | downcase %}
                {% if lower_url contains 'dwg' %}
                    <img src="{{ 'dwg.png' | asset_img_url: '300x' }}" alt="" />
                {% else %}
                    <img src="{{ 'pdf.png' | asset_img_url: '300x' }}" alt="" />
                {% endif %}
                 </div>
                <h3>{{ doc_data[0] }}</h3>
                <a href="{{ doc_data[1] }}" target="_blank"><span><img src="{{ 'download__1.png' | file_url }}"></span><ly-as-13490550>download</ly-as-13490550></a>
            </div>
            </a>
        </div>
        {% endfor %}
        {% unless product.metafields.global.BIMSMITH == blank %}
        <div class="col-xs-12 no-padding document-block-btn">
        <a target="_blank" href="{% comment %}ly_code_replace_for_[ product.metafields.global.BIMSMITH ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign ns = language | append: 'global' %}{% assign key = 'BIMSMITH' %}{% if product.metafields[ns][key] %}{% assign ly_translation = product.metafields[ns][key] %}{% else %}{% assign ly_translation =  product.metafields.global.BIMSMITH  %}{% endif %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}"><ly-as-13490551>Visit bimsmith for revit files</ly-as-13490551></a>
        </div>
        {% endunless %}
        {%endif%}
     </div>
    </div>
</div>
