{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}{% if section.settings.slider_show == 'yes' %}
  <div class="broadcast-slider owl-carousel">
    {% for block in section.blocks %}
    <div class="broadcast-slider-text">
      <div class="broadcast-slider-text-left">
        <span>0{{ forloop.index }}</span>
      </div>
      <div class="broadcast-slider-text-right">
        <p class="broadcast-slider-title">{{ block.settings.title }}</p>
        <p class="broadcast-slider-subtitle">{{ block.settings.subtitle }}</p>
        <span class="broadcast-slider-content">{{ block.settings.content }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  <script type="text/javascript">
  $(document).ready(function(){
    $('.broadcast-slider').owlCarousel({
      loop: true,
      margin: 0,
      nav: true,
      dots: true,
      items: 1
    });
    var img_urls = [];
    {% for block in section.blocks %}
      var img_url = '{{ block.settings.image.src | img_url: 'master' }}';
      img_urls.push(img_url);
    {% endfor %}
    $('.broadcast-slider').css('background-image', 'linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(' + img_urls[0] + ')');
    $('.broadcast-slider').on('changed.owl.carousel', function(event) {
      $(this).css('background-image', 'linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(' + img_urls[event.page.index] + ')');
    });
  })
  </script>
{% else %}
  <div class="broadcast-slider">
    {% for block in section.blocks %}
    {% if forloop.index == 1 %}
    <div class="broadcast-slider-text">
      <div class="broadcast-slider-text-left">
        <span>0{{ forloop.index }}</span>
      </div>
      <div class="broadcast-slider-text-right">
        <p class="broadcast-slider-title">{{ block.settings.title }}</p>
        <p class="broadcast-slider-subtitle">{{ block.settings.subtitle }}</p>
        <span class="broadcast-slider-content">{{ block.settings.content }}</span>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <script type="text/javascript">
  $(document).ready(function(){
    var img_urls = [];
    {% for block in section.blocks %}
      var img_url = '{{ block.settings.image.src | img_url: 'master' }}';
      img_urls.push(img_url);
    {% endfor %}
    $('.broadcast-slider').css('background-image', 'linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url(' + img_urls[0] + ')');
  })
  </script>
{% endif %}

{% schema %}
  {
    "name": "Broadcast Slider",
    "class": "section-broadcast-slider",
    "settings": [
      {
        "type": "select",
        "id": "slider_show",
        "label": "Show Slider",
        "default": "yes",
        "options": [
          {
            "value": "yes",
            "label": "Yes"
          },
          {
            "value": "no",
            "label": "No"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "slider",
        "name": "Slider",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Broadcast"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title",
            "default": "AV Distribution Facilities, TV Stations, Radio Broadcast, Content Distribution Centers"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>In the fast-paced, broadcasting industry you need the most reliable and easy-to-maintain audio-visual equipment. That’s why we have a complete line of products, such as wall mounts, desktop mounts and carts/stands, that are designed to keep you at the forefront of technology all while having reliable access to your equipment.</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Custom Sections",
        "name": "Broadcast Slider",
        "settings": {
          "slider_show": "yes"
        }
      }
    ]
  }
{% endschema %}