{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}
<link rel="stylesheet" href="{% comment %}ly_asset_replace_for_[ 'datepicker.css' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'datepicker.css' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}">
<script src="{% comment %}ly_asset_replace_for_[ 'datepicker.js' | asset_url ]_begin{% endcomment %}{% assign ly_asset = 'datepicker.js' %}{% include 'ly-asset' with ly_asset %}{{ ly_translation  }}{% comment %}ly_asset_replace_end{% endcomment %}"></script>

{%- include 'countries' -%}

<div class="main-page-wrapper trade-page">
	<!-- MAIN CONTENT AREA -->
	<section class="trade-banner">
		{% section 'trade_banner' %}
	</section>

	<section class="trade-menu">
    <nav>
     <ul>
      <li class="active"><a href="#"><ly-as-13492527>Upcoming</ly-as-13492527></a></li>
      <li><a href="#"><ly-as-13492528>Past</ly-as-13492528></a></li>
     </ul>
    </nav>
	</section>

  <section class="trade-all-wrap">
    <div class="container">
      <div class="info-box"></div>
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12 col-xs-offset-0">
          <div class="block-wrapper">
            <div class="trade-month"><ly-as-13492529>September 2018</ly-as-13492529></div>
            <div class="block">
              <div class="top">
                <div class="trade-logo">
                  <img src="//cdn.shopify.com/s/files/1/0026/4083/8771/files/cedia_logo_3x_a3a8e24f-a628-42f4-91a8-eeb89a588d2d_500x.png?v=1541710605" alt="Custom Electronics Design &amp; Installation Association (CEDIA)">
                </div>
                <div class="trade-content">
                  <h3 class="trade-name"><ly-as-13492530>CEDIA (Custom Electronic Design and Installation Association)</ly-as-13492530></h3>
                  <div class="trade-info"><ly-as-13492531>September 6 – 9  |  San Diego, CA  |  Booth #4615</ly-as-13492531></div>
                  <div class="trade-text">
                    <p><ly-as-13492532>CEDIA brings together more than 20,000 home tech pros and 500+ exhibitors to the leading event in smart and home technology. Receive concentrated access to new products, breakthrough innovations and targeted training in home tech integration.</ly-as-13492532></p>
                  </div>
                  <div class="view-more">
                    <a href="#" class="view-more-btn"><ly-as-13492533>View More</ly-as-13492533> <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  </div>
                </div>
                <div class="trade-btn-wrap">
                  <a href="#book-form" class="btn-book-time"><ly-as-13492534>Book a Time</ly-as-13492534></a>
                  <a href="#" target="_blank" class="btn-visit"><ly-as-13492535>Visit Website</ly-as-13492535></a>
                </div>
              </div>
              <div class="view-wrap">
                <div class="more-block">
                  <div class="more-title"><ly-as-13492536>Venue Info</ly-as-13492536></div>
                  <a href=""><ly-as-13492537>Trade show brochure</ly-as-13492537></a>
                  <a href=""><ly-as-13492538>Venue map</ly-as-13492538></a>
                </div>
                <div class="more-block">
                  <div class="more-title"><ly-as-13492539>Peerless-AV</ly-as-13492539></div>
                  <a href=""><ly-as-13492540>Marketing brochure</ly-as-13492540></a>
                  <a href=""><ly-as-13492541>Link to blog post</ly-as-13492541></a>
                </div>
                <div class="clearfix" style="clear: both;"></div>
                <div class="more-bottom">
                  <div class="more-title"><ly-as-13492542>Images</ly-as-13492542></div>

                  <div class="owl-carousel owl-theme popup-gallery">
                    <div class="item">
                      <a href="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877" data-effect="mfp-zoom-in" title="CEDIA Image 1" data-desc="September 6">
                        <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877">
                        <div class="item-title"><ly-as-13492543>CEDIA Image 1</ly-as-13492543></div>
                        <div class="item-desc"><ly-as-13492544>September 6</ly-as-13492544></div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877" data-effect="mfp-zoom-in" title="CEDIA Image 2" data-desc="September 7">
                        <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877">
                        <div class="item-title"><ly-as-13492545>CEDIA Image 2</ly-as-13492545></div>
                        <div class="item-desc"><ly-as-13492546>September 7</ly-as-13492546></div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877" data-effect="mfp-zoom-in" title="CEDIA Image 3" data-desc="September 8">
                        <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877">
                        <div class="item-title"><ly-as-13492547>CEDIA Image 3</ly-as-13492547></div>
                        <div class="item-desc"><ly-as-13492548>September 8</ly-as-13492548></div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877" data-effect="mfp-zoom-in" title="CEDIA Image 4" data-desc="September 9">
                        <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877">
                        <div class="item-title"><ly-as-13492549>CEDIA Image 4</ly-as-13492549></div>
                        <div class="item-desc"><ly-as-13492550>September 9</ly-as-13492550></div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877" data-effect="mfp-zoom-in" title="CEDIA Image 5" data-desc="September 10">
                        <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877">
                        <div class="item-title"><ly-as-13492551>CEDIA Image 5</ly-as-13492551></div>
                        <div class="item-desc"><ly-as-13492552>September 10</ly-as-13492552></div>
                      </a>
                    </div>
                    <div class="item">
                      <a href="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877" data-effect="mfp-zoom-in" title="CEDIA Image 6" data-desc="September 11">
                        <img src="https://cdn.shopify.com/s/files/1/0026/4083/8771/files/shane-rounce-229914-unsplash.jpg?1928236602429918877">
                        <div class="item-title"><ly-as-13492553>CEDIA Image 6</ly-as-13492553></div>
                        <div class="item-desc"><ly-as-13492554>September 11</ly-as-13492554></div>
                      </a>
                    </div>
                   </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<form id="book-form" class="white-popup-block mfp-hide" novalidate="">
  <div class="form_title"><ly-as-13492534>Book a Time</ly-as-13492534></div>
  <p><ly-as-13492555>Please provide your contact information below and we’ll get back to you shortly to confirm a time and date.</ly-as-13492555></p>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="first_name"><ly-as-13492556>First Name</ly-as-13492556> <span class="required">*</span></label>
        <input type="text" class="form-control" id="first_name" value="{{ customer.first_name }}" name="first_name" required>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <label for="last_name"><ly-as-13492557>Last Name</ly-as-13492557> <span class="required">*</span></label>
        <input type="text" class="form-control" id="last_name" value="{{ customer.last_name }}" name="last_name" required>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="title" class="label"><ly-as-13492558>Title</ly-as-13492558></label>
        <input type="text" class="form-controll" id="title" name="title" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="company" class="label"><ly-as-13492559>Company</ly-as-13492559></label>
        <input required type="text" class="form-controll" id="company" value="{% comment %}ly_code_replace_for_[ customer.metafields.global.company ]_begin{% endcomment %}{% assign language = cart.attributes["language"] %}{% if language == nil %}{% assign language = shop.metafields["languages"]["default"] %}{% endif %}{% assign ns = language | append: 'global' %}{% assign key = 'company' %}{% if customer.metafields[ns][key] %}{% assign ly_translation = customer.metafields[ns][key] %}{% else %}{% assign ly_translation =  customer.metafields.global.company  %}{% endif %}{{ ly_translation }}{% comment %}ly_code_replace_end{% endcomment %}" name="company">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="industry" class="label"><ly-as-13492560>Industry</ly-as-13492560></label>
        <select name="industry" id="industry">
          <option value=""><ly-as-13492561>Please Select</ly-as-13492561> </option>
          <option value="Airports"><ly-as-13492562>Airports</ly-as-13492562></option>
          <option value="Boats/RV"><ly-as-13492563>Boats/RV</ly-as-13492563></option>
          <option value="Broadcast"><ly-as-13492564>Broadcast</ly-as-13492564></option>
          <option value="Conferencing"><ly-as-13492565>Conferencing</ly-as-13492565></option>
          <option value="Control Room"><ly-as-13492566>Control Room</ly-as-13492566></option>
          <option value="Corporate"><ly-as-13492567>Corporate</ly-as-13492567></option>
          <option value="Education"><ly-as-13492568>Education</ly-as-13492568></option>
          <option value="Entertainment"><ly-as-13492569>Entertainment</ly-as-13492569></option>
          <option value="Gaming"><ly-as-13492570>Gaming</ly-as-13492570></option>
          <option value="Government"><ly-as-13492571>Government</ly-as-13492571></option>
          <option value="Healthcare/Hospital"><ly-as-13492572>Healthcare/Hospital</ly-as-13492572></option>
          <option value="Home"><ly-as-13492573>Home</ly-as-13492573></option>
          <option value="Hospitality"><ly-as-13492574>Hospitality</ly-as-13492574></option>
          <option value="House of Worship"><ly-as-13492575>House of Worship</ly-as-13492575></option>
          <option value="Restaurant/Bar"><ly-as-13492576>Restaurant/Bar</ly-as-13492576></option>
          <option value="Retail"><ly-as-13492577>Retail</ly-as-13492577></option>
          <option value="Security"><ly-as-13492578>Security</ly-as-13492578></option>
          <option value="Stadiums"><ly-as-13492579>Stadiums</ly-as-13492579></option>
          <option value="Transportation"><ly-as-13492580>Transportation</ly-as-13492580></option>
        </select>
      </div>
    </div>
    
    <div class="clearfix"></div>

    <div class="col-md-8">
      <div class="form-group">
        <label for="email"><ly-as-13492581>Email Address</ly-as-13492581> <span class="required">*</span></label>
        <input type="email" class="form-controll" value="{{ customer.email }}" name="email" id="email" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="phone"><ly-as-13492582>Phone number</ly-as-13492582></label>
        <input type="text" class="form-controll" value="{{ customer.phone }}" name="phone" id="phone" required>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-4">
      <div class="form-group">
        <label for="city"><ly-as-13492583>City</ly-as-13492583></label>
        <input type="text" class="form-controll" id="city" name="city" required>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="state"><ly-as-13492584>State</ly-as-13492584></label>
        <select name="state" id="state"></select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="country"><ly-as-13492585>Country</ly-as-13492585></label>
        <select name="country" id="country" required>
          {{countries}}
        </select>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12">
      <div class="form-group">
        <div class="label"><ly-as-13492586>INTENDED MEETING PURPOSE</ly-as-13492586></div>
        <div class="radio">
          <label>
            <input type="radio" name="meeting_purpose" checked="" value="Media Interview"><i></i>
            <span><ly-as-13492587>Media Interview</ly-as-13492587></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="meeting_purpose" value="Booth Tour"><i></i>
            <span><ly-as-13492588>Booth Tour</ly-as-13492588></span>
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="meeting_purpose" value="Other"><i></i>
            <span><ly-as-13492589>Other</ly-as-13492589></span>
            <input type="text" name="meeting_purpose_other">
          </label>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>
  
    <div class="col-md-12">
      <div class="form-group">
        <label for="notes"><ly-as-13492590>Notes/Comments</ly-as-13492590></label>
        <textarea name="notes" id="notes" required></textarea>
      </div>
    </div>
    
    <div class="col-md-12 prefered_time_wrap">
      <div class="row">
        <div class="col-md-4 no-padding">
          <label><ly-as-13492591>Preferred Meeting Time</ly-as-13492591> <span class="required">*</span></label>
          <input type="text" name="prefered_time[]" class="prefered_time" required>
        </div>
      </div>
      <button type="button" class="add_time"><ly-as-13492592>+ Add Another Time/Date</ly-as-13492592></button>
    </div>

    <div class="col-md-12 required-info"><span class="required">*</span><ly-as-13492593>Required Field</ly-as-13492593></div>
    <div class="col-md-12">
      <input type="hidden" name="tradeShowLink">
      <input type="hidden" name="site" value="{{settings.site}}">
      {% include 'email-lang' %}
      <input type="hidden" name="lang" value="{{lang}}">
      <button type="submit"><ly-as-13492594>Book a Time</ly-as-13492594></button>
    </div>
  </div>
</form>



<style>
  #book-form input.error {
    border: 1px solid red;
  }
  #book-form button[type="submit"] {
    overflow: hidden;
    position: relative;
  }
  #book-form button[type="submit"]:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: -25px;
    transition: 0.3s;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-radius: 100%;
    animation: load-spin 450ms infinite linear;
  }
  #book-form button[type="submit"].loading:before {
    right: 10px;
  }
  #book-form button[type="submit"]:hover:before {
    border: 2px solid #111;
    border-top-color: transparent;
  }
  #book-form button[type="submit"]:hover {

  }
</style>

<script>
$(document).ready(function() {
  var book_url = '/apps/peerless/contact/trade-show-meeting';

  function fillState () {
    var countryEl = $('#country'),
        stateEl = $('#state');
        states = JSON.parse(countryEl.find('option[value="'+countryEl.val()+'"]').attr('data-provinces')),
        stateOption = '';

    if (states.length) {
      states.forEach(function (stateArr) {
        stateOption += "<option value='"+stateArr[0]+"'>"+stateArr[1]+"</option>";
      });
    }

    stateEl.html(stateOption);
  }

  fillState();

  $('#country').on('change', function () {
    fillState();
  });

  $('.prefered_time').datepicker({
    timepicker: true,
    position: "top left"
  });

  $('.add_time').on('click', function () {
    var that              = $(this),
        form              = that.closest('form'),
        preferedTime      = form.find('.prefered_time'),
        preferedTimeFirst = form.find('.prefered_time:first-of-type'),
        preferedTimeWrap  = preferedTime.parent();

    // console.table(that, form, preferedTime, preferedTimeWrap);
    if (preferedTime.length < 3) {
      preferedTimeWrap.append(preferedTimeFirst.clone().removeAttr('required'));

      form.find('.prefered_time:last-of-type').datepicker({
        timepicker: true,
        position: "top left"
      });
    }
  });

  $('#book-form').on('submit', function (e) {
    e.preventDefault();
    var that = $(this);
        requiredFields = that.find('[required]'),
        error = false;

    requiredFields.each(function (idx, el ) {
      if ($(this).val() == '') {
        $(this).addClass('error');
        error = true;
      } else {
        if ($(this).is('#email') && !validateEmail($(this).val())) {
          error = true;
          $(this).addClass('error');
        } else {
          $(this).removeClass('error');
        }
      }
    });

    if (error) return;

    var data = that.serialize();
    that.find('button[type="submit"]').addClass('loading');
    var magnificPopup = $.magnificPopup.instance; // save instance in magnificPopup variable
    handleAjax(
      book_url,
      data,
      "POST",
      function (response) {
        if (response.success) {
          displaySuccess(response.message, '.info-box');
        } else {
          displayErrors(response.message, '.info-box');
        }
      },
      function () {
        $('html,body').animate({scrollTop: $('.trade-all-wrap').offset().top - 100}, 500);
        magnificPopup.close();
        that.find('button[type="submit"]').removeClass('loading');
      },
      function () {
        displayErrors('Something went wrong, please reload page and try again', '.info-box');
      }
    )
  });

  $(".view-more .view-more-btn").click(function(e){
    e.preventDefault();
    var wrap = $(this).closest('.block').find('.view-wrap');
    $(wrap).toggle();
  });


  $('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots: false,
    responsive:{
      0:{
        items:1
      },
      600:{
        items:3
      },
      1000:{
        items:4
      }
    }
  });

  $('.popup-gallery').magnificPopup({
    delegate: '.owl-item:not(.cloned) a',
    type: 'image',
    removalDelay: 500, //delay removal by X to allow out-animation
    callbacks: {
      beforeOpen: function() {
        // just a hack that adds mfp-anim class to markup 
        this.st.image.markup = this.st.image.markup.replace('mfp-figure', 'mfp-figure mfp-with-anim');
        this.st.mainClass = this.st.el.attr('data-effect');
      }
    },
    tLoading: 'Loading image #%curr%...',
    mainClass: 'mfp-img-mobile',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0,1] // Will preload 0 - before current, and 1 after the current image
    },
    image: {
      tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
      titleSrc: function(item) {
        return '<div class="item-title">' + item.el.attr('title') + '</div>' + '<div class="item-desc">' + item.el.attr('data-desc') + '</div>';
      }
    }
  });

  $('.btn-book-time').magnificPopup({
    type: 'inline',
    preloader: false,
  });

});

</script>